.page-tb {
    counter-reset: number;
    width: 80%;
    margin: 0 auto;
}
.page-tb tbody th:before {
    counter-increment: number;
    content: counter(number);
}

.page-tb tbody tr:nth-child(odd) {
    background: #eee;
}

.page-tb tbody tr:hover {
    background: #D3D3D3;
}

.pages {
    position: relative;
    margin-bottom: 50px;
}

.image {
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 0 auto;
    
}

.name {
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.6);
    color: rgba(255, 255, 255, 0.6);
}