.page-tb {
    counter-reset: number;
    width: 80%;
    margin: 0 auto;
}
.page-tb tbody th:before {
    counter-increment: number;
    content: counter(number);
}

.page-tb tbody tr:nth-child(odd) {
    background: #eee;
}

.page-tb tbody tr:hover {
    background: #D3D3D3;
}

.flex{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.pages {
    position: relative;
    margin: 50px;
}

.image {
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 0 auto;
    
}

.name {
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.6);
    color: rgba(255, 255, 255, 0.6);
}

.favorite-on {
    /*位置*/
    position: absolute;
    top: 0;
    right: -5%;
    /*以下装飾*/
    display: inline-block;
    padding: 0.5em 1em;
    text-decoration: none;
    background: #f7f7f7;
    border-left: solid 7px #ff8181;
    color: #ff8181;
    font-weight: bold;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.29);
}

.favorite-off {
    /*位置*/
    position: absolute;
    top: 0;
    right: -5%;
    /*以下装飾*/
    display: inline-block;
    padding: 0.5em 1em;
    text-decoration: none;
    background: #FFE6E6;
    border-left: solid 7px #ff8181;
    color: #ff8181;
    font-weight: bold;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.29);
}

.pagination {
    justify-content: center;
}
